{% extends "layout.html" %}
{% block content %}
<style>
#date{ width:100%;}
</style>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 main_cont">
                <!--<a href="{{url_for('home.homepage', username=session['username'])}}">Home</a>-->
<h3> {{site}} </h3>
<!--<select>
    {% for date in dates %}
       <option value="{{ date }}">{{ date }}</option>
    {% endfor %}
</select>-->
<div class="col-md-4 ">
<div class="site_box">
<form action="" method="post" name="selectscan">

		 <label for="site">Site:</label>
          {{ form.site(value=site, class="form-control input-box")  }}<br>
   
         <label for="date"> Please select the scan:</label>
         {{ form.date (class="form-control input-box") }}<br>
    
   <input type="button" value="GO" class="btn btn-primary" onclick="showGraphs()">
	
</form>
</div>
</div>
<div class="col-md-8">
<div class="site_box">
<a href="#" id="fullreportlink" target="_blank" class="btn btn-info" style="visibility: hidden">View full report</a>
<div id="risklevels" style="width: 550px; margin: 0 auto"></div>
<div id="alerttypes" style="width: 550px; margin: 0 auto"></div>
<div id="vulnerableuris" style="width: 550px; margin: 0 auto"></div>
</div>
</div>
            </div>
        </div>
    </div>


<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="http://code.highcharts.com/highcharts-more.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/summaryGraphs.js')}}"></script>
{% endblock %}
