{% extends "layout.html" %}
{% block content %}
<div class="container ">
    <div class="row">
	<div class="col-lg-12 ">
            {% with flash_msgs = get_flashed_messages(category_filter=["error", "message"]) %}
                {% if flash_msgs %}
                    {% for msgs in flash_msgs %}
					<div class="alert alert-info mar_t">
					  <strong> {{ msgs }}</strong>
					</div>
                       
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
	
        <div class="col-lg-12 main_cont">
            <h3> My Sites </h3>
			<div class="site_table">
            <table class="table table-striped ">
                <thead>
                    <th>#</th>
                    <th>Site</th>
                </thead>
                <tbody>
                    {% for site in user.ownedSites %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td><a href={{url_for('home.scanlist', site_index=loop.index0)}}>{{site}}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
			</div>
		</div>
		<div class="col-lg-12 main_cont">
            {% if current_user.isAdmin %}
		    <h3>Add Site </h3>
			<div class="add_site">
			<div class="col-md-12">
            <form method="POST" action="#" accept-charset="UTF-8" role="form">
			<div class="col-md-9">
                {{ form.csrf_token }}
                {{ form.url(class_='form-control input-box', placeholder='Site URL', required=true) }}
				
			</div>
			<div class="col-md-3">			
              <button class="btn btn-primary" type="submit" name="add">Add</button>
			 </div> 
            </form>
            {% endif %}
			</div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/datatables.js')}}"></script>
<script type="text/javascript">
    $(function() {
        $('.table').DataTable();
    });
</script>
{% endblock %}
