{% extends "layout.html" %}
{% block content %}
    <form method="POST" action="#" accept-charset="UTF-8" role="form">
      {{ form.csrf_token }}
      {{ form.url(class_='form-control input-box', placeholder='Site URL', required=true, autofocus=true) }}<br>
      <button type="submit" name="add">Add</button>
    </form>
{% endblock %}
