{% extends "layout.html" %}
{% block content %}
<!--<a href={{ url_for('admin.admin_home', admin_user=session.username) }}>Home</a>
<a href={{ url_for('admin.logs') }}>Logs</a>-->
<div class="container">
      <div class="row ">
	  <div class="col-lg-12 main_cont">
	  <h3>Users</h3>
	  <div class="col-lg-12 mar_bot">
<a class="btn btn-primary" style="float:right;" href={{ url_for('admin.create_user') }}>Create</a>
<br>
{% with errors = get_flashed_messages(category_filter=["error", "message"]) %}
    {% if errors %}
    <div>
        {% for error in errors %}
            {{ error }}<br>
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}
</div>
<div class="site_table">
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Name</th>
            <th>Sites</th>
			<th align="center">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>
                    {{ user.username }}
                    
                </td>
                <td>
                    <ul>
                        {% for site in user.ownedSites %}
                            <li>{{ site }}</li>
                        {% endfor %}
                    </ul>
                </td>
				<td >
					<a href="{{ url_for('admin.edit_user', username=user.username) }}" class="tab_links">Edit</a>
                    <a href="{{ url_for('admin.delete_user', username=user.username) }}" class="tab_links" onclick="return confirm('Are you sure?');"> Delete</a>
				</td>
            <tr>
        {% endfor %}
    <tbody>
</table>
</div>
</div>
</div>
</div>
{% endblock %}
