{% extends "layout.html" %}
{% block content %}
<div class="container">
      <div class="row ">
	  <div class="col-lg-12 main_cont">
    <h3>Create User</h3>
    {% with errors = get_flashed_messages(category_filter=["error", "message"]) %}
    {% if errors %}
    <div>
    {% for error in errors %}
    {{ error }}<br>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <form method="POST" action="#" accept-charset="UTF-8" role="form">
	<div class="col-md-4"></div>
	<div class="col-md-4 user_box">
      {{ form.csrf_token }}
      {{ form.username(class_='form-control input-box', placeholder='Username', required=true, autofocus=true) }}<br>
      {{ form.password(class_='form-control input-box', placeholder='Password', required=true)}}<br>
      {{ form.websites(class_='form-control input-box')}}<br>
      <button type="submit" class="btn btn-primary" name="create">Create</button>
	 </div>
	 <div class="col-md-4"></div>
    </form>
  </div>
</div>
</div>

{% endblock %}
