{% extends "layout.html" %}
{% block content %}
<div class="container">
      <div class="row ">
	  <div class="col-lg-12 main_cont">
    <h3>Edit User</h3>
    <h1>{{ username }}</h1>
    {% with errors = get_flashed_messages(category_filter=["error", "message"]) %}
    {% if errors %}
    <div>
    {% for error in errors %}
    {{ error }}<br>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% if form.errors %}
    <div>
    {% for field, error in form.errors.items() %}
    {% for e in error %}
    {{ e }}<br>
    {% endfor %}
    {% endfor %}
    </div>
    {% endif %}
    <form method="POST" action="#" accept-charset="UTF-8" role="form">
	<div class="col-md-4"></div>
	<div class="col-md-4 user_box">
      {{ form.csrf_token }}
      Select the sites to remove:<br>
      {{ form.to_delete(class_='form-control input-box') }}<br>
      Select the sites to add:<br>
      {{ form.to_add(class_='form-control input-box') }}<br>
      <button type="submit" class="btn btn-primary" name="submit">Submit</button>
	  </div>
	  <div class="col-md-4"></div>
    </form>
  </div>
</div>
</div>

{% endblock %}
