{% extends "layout.html" %}
{% block content %}
<div class="container">
      <div class="row ">
	  <div class="col-lg-12 main_cont">
	   <h3>Logs</h3>
<!--<a href={{ url_for('admin.admin_home', admin_user=session.username) }}>Home</a>-->
<div class="log_det">
 <ul>
{% for entry in entries %}
   
        <li>{{entry.user}} {{entry.event}} at {{entry.timestamp.ctime()}}</li>
    
{% endfor %}
</ul>
</div>
</div>
</div>
</div>
{% endblock %}
