{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 main_cont">
		<h3>Scan Website</h3>
        {% with flash_msgs = get_flashed_messages(category_filter=["error", "message"]) %}
        {% if flash_msgs %}
        {% for msgs in flash_msgs %}
        <div class="alert alert-info mar_t">{{ msgs }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}

{% if form %}
<form method="POST" action="#" accept-charset="UTF-8" role="form">
<div class="col-md-4"></div>
	<div class="col-md-4 user_box">
    {{ form.csrf_token }}
    {{ form.url (class="form-control input-box") }}<br>
    {{ form.pre_login }} &nbsp; Scan without login <br><br>
    <button type="submit" class="btn btn-primary" name="scan">Scan</button>
	</div>
<div class="col-md-4"></div>
</form><p></p>
{% else %}
<button onclick="window.location.href='{{url_for('admin.stop_zap_scan')}}'">Stop</button><p></p>
    <div class="prog">
    </div> 
    <script src="{{ url_for('static', filename='js/scanStat.js') }}"></script>
    <script type="text/javascript">getScanStatus();</script>
{% endif %}

<div class="stats">
</div>

        </div>
    </div>
</div>
{% endblock %}
