<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sentinel</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

	<!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datatables.css')}}"/>
	<link href="{{ url_for('static', filename='css/footer-navbar.css') }}" rel="stylesheet">
	
    <!-- Custom CSS -->
	<link href="{{ url_for('static', filename='css/master.css') }}" rel="stylesheet">
	
    <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet">

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
<div class="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top main_header" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<div class="logo">
                        <a href="#"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" /></a>
				</div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated%}
                        {% if not current_user.isAdmin %}
                        <li>
                            <a href="{{url_for('home.homepage')}}">Home</a>
                        </li>
                        {% endif %}
                        {% if current_user.isAdmin %}
                        <li>
                            <a href={{ url_for('admin.admin_home') }}>Home</a>
                        </li>
                        <li>
                            <a href={{ url_for('admin.scan_website') }}>Scan</a>
                        </li>
                        <li>
                            <a href={{ url_for('admin.admin_users') }}>Users</a>
                        </li>
                        <li>
                            <a href={{ url_for('admin.logs') }}>Logs</a>
                        </li>
                        {% endif %}
                    <li>
                        <a href="{{ url_for('auth.logout') }}">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>

        <!-- /.container -->
    </nav>

        {% if current_user.is_authenticated %}
		<div class="jumbotron">
        <div id="main-wrapper">
		
            {% block content %}

            {% endblock %}
			</div>
        </div>
		</div>
        {% else %}
            {{ self.content() }}
        {% endif %}



    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">&copy; &nbsp;2015 iPublishcentral, All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    {% if current_user.is_authenticated %}
    <!-- Scan Stat -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/scanStat.js') }}"></script>

    <script type="text/javascript">
        checkScanFailure();
    </script>
    {% endif %}
    

</body>
</html>
