/**/
.main_header
{background:#244273 !important; margin:0;}
.navbar-inverse .navbar-nav > li > a{ color:#ffffff;}
.navbar-inverse .navbar-nav > li > a:hover{ color:#ffffff;}
.logo{ float:left; text-align:left; padding:0; margin:0;}
.logo img { float:left;}
.topnav{ padding:15px;}
.main_cont h3{ margin-bottom:10px;padding-bottom: 10px; border-bottom:2px solid #eee}
.site_table table{ border:1px solid #eee}
.site_table table thead tr th{ background:#244273 !important; color:#FFFFFF;}
.add_site{ background:#f9f9f9; padding:10px; border:1px solid #eee; float:left; width:100%; margin:0px 0 30px 0; border-radius:6px;}
.jumbotron{ margin-bottom:0px; padding:15px 0;}
.log_bg{background: #f3f3f3;}
.sent_img{background: url(../img/sentinel_bg.png) no-repeat center center; min-height:500px;}
.login_box{ background: #ffffff none repeat scroll 0 0;    border: 1px solid #e2e2e2;    margin: 80px auto 0;    min-height: 230px;
    padding: 20px 30px;    width:70%; border-radius:6px;}
.log_txt{margin: 20px 80px; text-align: center;}
.log_txt p{ font-size:20px; font-weight:bold;}
.wid_100{ width:100%; float:left;}
.txt_box{ width:100%; float:left; margin-bottom:20px;}

.txt_box input[type="user-name"]{ background:#efefef; height: 40px;    padding: 10px;}
.txt_box input[type="password"]{ background:#efefef; height: 40px;    padding: 10px;}
.mar_bot{ margin-bottom:10px;}
.user_box{ margin:20px 0 40px; border:1px solid #ededed; padding:20px; border-radius:4px;} 
.main_cont h1{ margin-bottom:10px; padding: 10px; background:#eef3fc; font-size:18px; font-weight:normal;}
.tab_links{ padding:0 10px 0 0;}
.site_table table tbody tr td ul{ margin:0; padding: 0 0 0 15px;}
.site_table table tbody tr td ul li{ margin:0; padding:0;}
.site_box{ margin:10px; border:1px solid #ededed; padding:20px; border-radius:4px;} 
.mar_t{ margin:15px 0 0 0;}
.log_det{ width:100%; max-height:400px; float:left; overflow-y:auto; margin-bottom:30px;}
.log_det ul { margin:0 0 0 30px; padding:0;}
.log_det ul li { margin:0; padding:10px; list-style:disc; border-bottom:1px solid #ededed;}

