/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body,
html {
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header, .banner {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 5%;
    padding-bottom:0%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}


.navbar-brand{
	padding:0px !important;
	height:70px !important;
}

.user-icon {
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	background:#348ecc;
	height:150px;
	width:150px;
	display:inline-block;
}

.user-icon span{
	color:#fff;
	font-size:80px;
	margin:30px auto;
}


.footer-divider{
	border-top:2px solid #348ecc;
	height:1px;
}

.form-control-static{
    display:inline-block;
}

.login .subscription-form .input-box {
    background: #fff;
    border: 1px solid #777;
    box-shadow: none;
    height: 50px;
    padding-left: 20px;
    width: 320px;
	margin-bottom: 20px;
}

.maincontent {
    margin:30px 0px;
    padding:0 30px;
    min-height:650px;
}

#main-wrapper{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.24);
    margin:0 auto;
    width:1170px;
	 border-radius:4px;
	 background:#FFFFFF;
}

#log-wrapper{
    margin:0 auto;
    width:1170px;
	padding:10px;
}

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

#date{
    width:364px;
}

.down-arrow{
    position:absolute;
    right:17px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #777;
    width: 0px;
    height: 0px;
    margin: -20px 0 0 0;
}

.scanlist p{
    padding:8px 0px;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
    text-decoration: none;
}

.login .subscription-form label {
	display:block;
}

.general-button{
	background:#348ecc;
    color:#fff;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:0px 30px;
	font-weight:400;
	font-size:22px;
	height:60px;
	transition:all 0.25s ease 0s;
}

.common-button{
    background:#348ecc;
    color:#fff;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    padding:0px 30px;
    font-weight:400;
    font-size:22px;
    height:40px;
    transition:all 0.25s ease 0s;
}

.logo img{
	/*transform:scale(0.8);
	-moz-transform:scale(0.8);
	-webkit-transform:scale(0.8);*/
}


@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}


@media(max-width:320px) {

	.login .subscription-form .input-box{
		width:230px;
	}
	.logo img{
		transform:scale(0.8);
		-moz-transform:scale(0.8);
		-webkit-transform:scale(0.8);
	}
}


footer {
    padding:10px 0;
    background-color: #244273;
	
}

p.copyright {
    margin: 0px 0 0;
	color:#FFFFFF !important;
}
